{% extends "base.html" %}
{% include "navbar.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
  <div class="row ">
    
    <div class="col-12 col-lg-6 l px-5" > 
      <h2 class="display-4 p-1 mt-5"><strong><u>Reason for this page</u></strong>.</h2><br>
      
      <p class=" letterM">y name is Alex and over the last two years I have been experiencing the most severe eczema I have ever faced in my life. It presented very differently to all the eczema I have had in the past.</p> 
      <p> My skin now manifested with large sufrace areas of red skin which burned intensely. I turned to google to try and find out why it had got so bad and I came across two websites that gave me an explanation.<br><br>
      
      One of them was ITSAN.org who had a symptom checker and I could literally tick all the boxes.</p>
 
      <p>
       
      
      I learned that this is an iatragenic disease caused by additction to topical steroids of which I had been using in increasing strengths over the past 10 years with the addition of oral steroids. When I first began using them they worked remarkably well, almost like little tubs of miracles.<br><br> However, after my decade of use I started notice a serious worsening of symptoms were my skin would become red and burn. Never before in my history of having eczema had I experinced such pain. The inflammation in my skin would literally come up a day or so after the application of the steroids so it made sense. The only way I could ever heal from this was complete cessation of steroids.<br><br>
      
      I was terrified about what this was going to do to me after going through other sufferers blogs and seeing the extent of the suffering they were having to endure over prolonged periods of time. Granted, some people seem to be through it over the course of months but many others go on for years. It just seems so wrong that the medicaton you are prescribed to help with the symptoms of your disease end up giving you something far far worse.<br><br>
      
      Therefore, I have prepared this page to play a small part in raising awarenss of this horrendous problem and hopefully spare others losing so much of their life to this withdrawal. I have additionally tried to do something of a diary as this seems to be the trend.</p>

    </div>
    <div class="col-12 col-lg-6 r "  >
          </div>
  </div>
</div>

    




{% endblock %}