{% extends "base.html" %}

{% block title %}Contact - {{ block.super }}{% endblock %}

{% block content %}


    <h4 class="text-center text-danger">Sorry, not currently taking emails.</h4>

<div class='container mt-5 '>
    <div class="row border">
        
        <div class="border-info border-2 border col-12 col-lg-6 bg-darker text-center text-light d-flex align-items-center justify-content-center">
      
            <svg xmlns="http://www.w3.org/2000/svg" width="10rem" height="10rem" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
              </svg>
           
        </div>
        <div class="col-12 col-lg-6">
            <form method='POST' action='.' enctype='multipart/form-data' class="form-group p-5"> {% csrf_token %}
                {{ form.as_p }}
                <button type='submit' class="btn btn-cool border-info border-2 border disabled">Submit</button>
                <small id="emailHelp" class="form-text text-muted">I will never share your email with anyone else.</small>
            </form> 
        </div>
    </div>
</div>
<br>
{{ text }}
<!-- <script>
          const message = document.querySelector('#id_message');

          message.addEventListener('input', (event) => {
    const forbiddenWords = ['seo', 'ranking', 'SEO', 'whitehat', 'keywords'];
    let inputValue = event.target.value;

    forbiddenWords.forEach((word) => {
        const regex = new RegExp(`\\b${word}\\b`, 'gi'); // Case-insensitive whole word match
        inputValue = inputValue.replace(regex, ''); // Remove forbidden words
    });

    event.target.value = inputValue; // Update the input value

    // Optionally, you can perform additional actions here if needed.
    // For example, you can show a message to the user or trigger other validation checks.
});
</script> -->
{% endblock %}