
  {% load static %}
 
  

  <div id="foot" class="container-fluid bg-dark ">
    <div class="row">
      <div class="d-flex justify-content-center ">
        <div class="d-lg-none p-4"><iframe type="text/plain" data-cookiecategory="targeting" src="https://rcm-eu.amazon-adsystem.com/e/cm?o=2&p=22&l=ur1&category=piv&banner=162N5PEPRMMJ87Z5G3G2&f=ifr&linkID=45006d8a10aab442e8266b06d4b5264e&t=8c1bc6a1-21&tracking_id=8c1bc6a1-21" width="250" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0" sandbox="allow-scripts allow-same-origin allow-popups allow-top-navigation-by-user-activation"></iframe></div>
        <div class="d-none d-lg-block p-4"><iframe type="text/plain" data-cookiecategory="targeting" src="https://rcm-eu.amazon-adsystem.com/e/cm?o=2&p=48&l=ur1&category=piv&banner=0E183RXMV88X6J8GJ002&f=ifr&linkID=ced4d27ca04eb3544d05a5563aa0ab4d&t=8c1bc6a1-21&tracking_id=8c1bc6a1-21" width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0" sandbox="allow-scripts allow-same-origin allow-popups allow-top-navigation-by-user-activation"></iframe> </div>
      </div>
    </div>
    <div class="row " >  
    <div class="card col-md-4 text-light bg-dark">
    <div class="card-body">
    <h5 class="card-title">Change.org</h5>
    <!-- <img src=" {% static 'images/pet.png' %} "  alt="Petition" class="w-50"> -->
    <p class="card-text">To prevent others having to go through this harrowing, seemingly never ending suffering, Please, please could you condiser signing the petiton below?<br></p>
        <a href="https://www.change.org/p/secretary-for-health-matt-hancock-u-k-dermatologist-recognise-and-treat-topical-steroid-addiction-red-skin-syndrome" role='button' class='btn btn-outline-info'>Sign >></a>  
    
    </div>
    </div> 
    
    <div class="card col-md-4 text-light bg-dark">
    <div class="card-body">
    <h5 class="card-title">Yellow Card Scheme</h5>
    <!-- <img src='{% static "images/yellow.png" %}' alt='Yellow Card' class="overflow-hidden"> -->
    <p class="card-text">Are you also suffering with this harrowing disease and live in the UK? If so, you can report it to the Yellow Card Scheme. The Medicines and Healthcare products Regulatory Agency(MHRA) is the executive Agency of the Department of Health and Social Care.</p>
    <a href="https://yellowcard.mhra.gov.uk" role="button" class="btn btn-outline-info">Report >></a>
        
     </div>
    </div>
        
    <div class="card col-md-4 text-light bg-dark">
    <div class="card-body">
    <h5 class="card-title">Scratch That.</h5>
    <!-- <img src="{% static 'images/sc.png' %}"  alt="scratch that" > -->
    <p class="card-text">A group of friends who are all currently going through TSW have created a central hub for the
       community in the UK.</p>
    <a href="https://scratchthat.org.uk/" role="button" class="btn btn-outline-info">Visit >></a>
    </div>
    </div>
     
      
    </div>
    </div>
</div>

<div class="bg-dark">
  

  <div class="modal fade" id="disModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">DISCLAIMER</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
  <small class="text-muted inline mb-2">This website terms and conditions template is based on a free document supplied by The Legal Stop Limited through its website  <a href=“http://www.thelegalstop.co.uk” class="inline"> www.thelegalstop.co.uk  </a>
  </small>
        
<h3>Introduction</h3>

This disclaimer governs your use of our website; by using our website, you accept this disclaimer in full. 

www.redsleeves.co.ukmakes no representations or warranties in relation to the information on this website.  

www.redsleeves.co.uk does not warrant that the information on this website will be constantly available or available at all. The information available on this website is not intended to be comprehensive, and many details which may be relevant to particular circumstances have been omitted. 
www.redsleeves.co.uk takes reasonable steps to ensure that the information contained in this website is accurate and up to date. However, whilst we endeavour to ensure that the information on this website is correct, we do not warrant its completeness or accuracy.


<h3>Copyright and Licence</h3>

www.redsleeves.co.uk owns the intellectual property rights in the website and material on the website.  Subject to the licence below, all these intellectual property rights are reserved.

You may view, print, reproduce, copy, amend and translate any of the information and material contained within the website for your own personal and/or business purposes, subject to the following restrictions:

You are not permitted to sell, distribute, copy, publish or reproduce any information or material or any part thereof contained in this website for use by any third party.

You are not permitted to exploit material on our website for a commercial purpose.

If you breach these restrictions you will be held fully responsible for any loss suffered by www.redsleeves.co.uk as result of such breach and will be held accountable for all profits made from breaching these restrictions.


Liability

To the maximum extent permitted by applicable law we exclude all representations, warranties and conditions relating to this website and the use of this website (including, without limitation, any warranties implied by law of satisfactory quality, fitness for purpose and/or the use of reasonable care and skill). 

To the extent that the website and the information and services on the website are provided, our liability to you in relation to the use of our website or under or in connection with this disclaimer, whether in contract, tort (including negligence) or otherwise, will be limited as follows: 

www.redsleeves.co.uk and its employees will not be liable for any loss or damage of any nature whether arising directly or indirectly from the use of or reliance on information obtained from this website. 

www.redsleeves.co.uk and its employees will not be liable for any consequential, indirect or special loss or damage and will not be liable for any loss of profit, income, revenue, anticipated savings, contracts, business, goodwill, reputation, data, or information.

Nothing in this disclaimer will limit any of our liabilities in any way that is not permitted under applicable law, or exclude any of our liabilities that may not be excluded under applicable law.

It is our policy to obtain permission to link to other websites. However, www.redsleeves.co.uk is not responsible for the content or reliability of the linked websites. Listing should not be taken as endorsement of any kind. We cannot guarantee that these links will work all of the time and we have no control over the availability of linked pages.

www.redsleeves.co.uk reserves the right to change this disclaimer and the contents on its website at any time without prior notice.

This disclaimer, together with our privacy statement and terms and conditions, constitutes the entire agreement between you and www.redsleeves.co.uk in relation to the use of our website, and supersedes all previous agreements in respect of your use of this website.

This disclaimer is governed by and construed in accordance with English law, and any disputes relating to this disclaimer will be subject to the exclusive jurisdiction of the courts of England and Wales.

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="termsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">TERMS AND CONDITIONS</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <small class="text-muted inline mb-2">This website terms and conditions template is based on a free document supplied by The Legal Stop Limited through its website  <a href=“http://www.thelegalstop.co.uk” class="inline"> www.thelegalstop.co.uk  </a>
        </small>
        
        
        <h3>Introduction</h3>
        <p>
        Welcome to our web site. If you continue to browse and use this website you are agreeing to comply with and be bound by the following terms and conditions of use which govern our relationship with you in relation to this web site. If you disagree with any part of these terms and conditions, please do not use our website.
        
        The term ‘we’ means www.redsleeves.co.uk  the owner of the website whose registered office is www.redsleeves.co.uk  and company registration number is www.redsleeves.co.uk  ("us" and "our" will be construed accordingly).
        
        The term ‘you’ refers to the user or viewer of our website (and "your" will be construed accordingly).
        
        This website uses cookies. By using this website and agreeing to these terms and conditions, you consent to our use of cookies in accordance with the terms of our cookies policy.
        
        Use of this Website
        
        Unless otherwise stated, www.redsleeves.co.uk  owns the intellectual property rights in the website and material on the website. Subject to the license below, all these intellectual property rights are reserved.
        
        You may view website pages, download website pages and print website pages for your own personal use, subject to the restrictions set out below and elsewhere in these terms and conditions.
        
        You must not use our website in any way that causes, or may cause, damage to the website or impairment of the availability or accessibility of the website; or in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity.
        
        You must not use this website to copy, store, host, transmit, send, use, publish or distribute any material which consists of malicious computer software.
        
        You must not use our website to transmit or send unsolicited commercial communications.
        
        You must not use our website for any purposes related to marketing without our express written consent.
        
        Access to certain areas of this website is restricted. www.redsleeves.co.uk  reserves the right to restrict access to areas of this website, or indeed this entire website, at its sole discretion.
        
        [If www.redsleeves.co.uk  provides you with a user ID and password to enable you to access restricted areas of this website or other content or services, you must ensure that the user ID and password are kept confidential.  
        
        www.redsleeves.co.uk  may disable your user ID and password at its sole discretion without prior notice or explanation].</p>
        
        <h4>Copyright and Licence</h4>
        <p>
        This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. 
        
        You are granted a licence to use the material contained in this website subject to the restrictions described in these terms and conditions.
        
        You are granted a licence to download, store, view, edit, use, reproduce, copy, print, any material contained in this website for your own personal and/or business purposes.</p>
        
        <h4>You are not permitted to: </h4>
        <ul>
          <li>republish material from this website (including republication on another website); </li>
          <li>        sell, rent, license, sublicense, lease, distribute, copy, duplicate, publish or reproduce material from the website and any material or any part thereof for use by any third party; </li>
          <li>exploit material on our website for a commercial purpose;</li>
          <li>
            use any material in any way that is unlawful or in breach of any person's legal rights under any applicable law, or in any way that is offensive, indecent, discriminatory or otherwise objectionable.
            </li>
          
        </ul>
        <p> 
          If you breach these terms and conditions in any way then the licence granted to you will be automatically terminated upon such breach and www.redsleeves.co.uk  may take such action as we deem appropriate to deal with the breach, including suspending your access to the website, prohibiting you from accessing the website, blocking computers using your IP address from accessing the website, contacting your internet service provider to request that they block your access to the website and/or bringing court proceedings against you.
        </p>

       <p> Upon the termination of the licence you will promptly and irrevocably delete from your computer systems and other electronic devices all copies of the material and any part thereof in your possession or control, and will permanently destroy any paper or other copies of the material and any part thereof in your possession or control.
        
        www.redsleeves.co.uk  reserves the right to exclude any person from using its website and material contained therein where a breach of these terms & conditions is suspected.
        All material contained in this website is and remain the copyright of www.redsleeves.co.uk . 
        
        You must retain, and must not delete or remove all copyright notices and other proprietary notices placed by us on any material. 
        All trademarks reproduced in this website, which are not the property of, or licensed to the operator, are acknowledged on the website.
        </p>
       
        <h4>No Warranties</h4>
        <p>This website is provided “as is” without any representations or warranties, express or implied. www.redsleeves.co.uk  makes no representations or warranties in relation to this website or the information and material provided on this website.  
        
          The content of the pages of this website is for your general information and use only and it is subject to change without prior notice.
          
          www.redsleeves.co.uk  does not warrant that this website will be constantly available, or available at all; or that the information on this website is complete, true, accurate or non-misleading.
          
          Nothing on this website constitutes, or is meant to constitute, advice of any kind. 
          We do not provide any warranty as to the suitability of the information and material found or offered on this website for any particular purpose. Your use of any information or material on this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.
          
          You acknowledge that information and material found or offered on this website may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.
          
          To the maximum extent permitted by applicable law we exclude all representations, warranties and conditions relating to this website and the use of this website (including, without limitation, any warranties implied by law of satisfactory quality, fitness for purpose and/or the use of reasonable care and skill).
          </p>
        
        <h4>Limitations and Exclusions of Liability</h4>
        <p>To the extent that the website and the information and services on the website are provided, our liability to you in relation to the use of our website or under or in connection with these terms and conditions, whether in contract, tort (including negligence) or otherwise, will be limited as follows: www.redsleeves.co.uk  and its employees will not be liable to you for any loss or damage of any nature whether arising directly or indirectly from the use of or reliance on information obtained from this website; www.redsleeves.co.uk  and its employees will not be liable for any consequential, indirect or special loss or damage and will not be liable for any loss of profit, income, revenue, anticipated savings, contracts, business, goodwill, reputation, data, or information.
        
          Nothing in these terms and conditions will limit or exclude our or your liability for death or personal injury resulting from negligence; limit or exclude our or your liability for fraud or fraudulent misrepresentation; limit any of our or your liabilities in any way that is not permitted under applicable law; or exclude any of our or your liabilities that may not be excluded under applicable law.
          
          By using this website, you agree that the exclusions and limitations of liability set out in these terms and conditions are reasonable. If you do not think they are reasonable, you must not use this website.
          </p>
        
        <h4>Indemnity</h4>
        <p> If you breach these terms and conditions you will be held fully responsible for any loss suffered by www.redsleeves.co.uk  as result of such breach and will be held accountable for all profits made from breaching these terms and conditions.
        
          You agree to indemnify us and undertake to keep us indemnified against any losses, damages, costs, liabilities and expenses (including without limitation legal expenses and any amounts paid by us to a third party in settlement of a claim or dispute on the advice of our legal advisers) incurred or suffered by us arising out of any breach by you of any provision of these terms and conditions.
          </p>
       
        <h4>Other Websites</h4>
        
        <p>This website may contain links to other websites that are not under the control of and are not maintained by us. www.redsleeves.co.uk  is not responsible for the content or reliability of the linked websites. www.redsleeves.co.uk  provides these links for your convenience only but does not endorse the material on these sites.
        </p>
        
        <h4>Waiver</h4>
        
        <p> The failure by www.redsleeves.co.uk to enforce at any time or for any period any one or more of the terms and conditions shall not be a waiver of them or the right at any time subsequently to enforce all terms and conditions.
        </p>
       <h4>Severance</h4>
        <p> If any provision of these terms and conditions shall be found by any court to be invalid or unenforceable, such invalidity or unenforceability shall not affect the other provisions of these terms and conditions which shall remain in full force and effect.
        
          If any provision of these terms and conditions is so found to be invalid or unenforceable but would be valid or enforceable if some part of the provision were deleted, the provision in question shall apply with such modification(s) as may be necessary to make it valid and enforceable.
          </p>
        
       <h4>  Variation</h4>
      
        <p> We may revise these terms and conditions from time-to-time.  Revised terms and conditions will apply to the use of our website from the date of the publication of the revised terms and conditions on our website.  Please check this page regularly to ensure you are familiar with the current version.
        </p>
       <h4>Exclusion of Third Party Rights</h4>
        <p>These terms and conditions are for the benefit of you and us, and are not intended to benefit any third party or be enforceable by any third party.  The exercise of our and your rights in relation to these terms and conditions is not subject to the consent of any third party.
        </p>
        
        <h4>Entire Agreement</h4>
        
        <p> These terms and conditions constitute the entire agreement between you and us in relation to your use of our website, and supersede all previous agreements in respect of your use of this website.
        </p>
       <h4>   Jurisdiction and Governing Law</h4>
     
        <p>These terms and conditions shall be governed by and construed in accordance with English law. Any dispute, claim or matter arising out of, or relating to, these terms and conditions shall be subject to the exclusive jurisdiction of the English courts.
        </p>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>
</div>


    <div class="text-center text-muted p-5" style="background: #000000">
      <div class="btn-group btn-group-sm d-flex justify-content-evenly " role="group" aria-label="Basic outlined example">
        <a href="{% url 'policy' %}" type="button" class="btn text-secondary"> Privacy Policy</a>
        <button  type="button" class="btn text-secondary  " data-bs-toggle="modal" data-bs-target="#termsModal">Terms and Conditions</button>
        <button type="button" class="btn text-secondary " data-bs-toggle="modal" data-bs-target="#disModal">Disclaimer</button>
        <button type="button" data-cc="c-settings" class="btn text-secondary" >Settings</button>
      </div>
     <p class="p-4">&copy;{% now " Y " %} redsleeves.co.uk</p> 
    </div>
