
  {% load static %}
  <div id="foot" class="container-fluid bg-dark p-5">
    <div class="row " >  
    <div class="card col-md-4 text-light bg-dark">
    <div class="card-body">
    <h5 class="card-title">Change.org</h5>
    <img src=" {% static 'images/pet.png' %} " class="card-img-top" alt="Petition">
    <p class="card-text">To prevent others having to go through this harrowing, seemingly never ending suffering, Please, please could you condiser signing the petiton below?<br></p>
        <a href="https://www.change.org/p/secretary-for-health-matt-hancock-u-k-dermatologist-recognise-and-treat-topical-steroid-addiction-red-skin-syndrome" role='button' class='btn btn-secondary'>Sign >></a>  
    
    


    </div>
    </div> 
    
    <div class="card col-md-4 text-light bg-dark">
    <div class="card-body">
    <h5 class="card-title">Yellow Card Scheme</h5>
    <img src='{% static "images/yellow.png" %}' alt='Yellow Card'>
    <p class="card-text">Are you also suffering with this harrowing disease and live in the UK? If so, you can report it to the Yellow Card Scheme. The Medicines and Healthcare products Regulatory Agency(MHRA) is the executive Agency of the Department of Health and Social Care.We have a responsibilty to report this to try and stop affecting others</p>
    <a href="https://yellowcard.mhra.gov.uk" role="button" class="btn btn-secondary">Report >></a>
        
     </div>
    </div>
        
    <div class="card col-md-4 text-light bg-dark">
    <div class="card-body">
    <h5 class="card-title">Scratch That.</h5>
    <img src="{% static 'images/sc.png' %}" alt="scratch that">
    <p class="card-text">This amazing group of friends who are all currently going through Topical Steroid Withdrawal have created a central hub for the TSW community in the UK.</p>
    <a href="https://scratchthat.org.uk/" role="button" class="btn btn-secondary">Visit >></a>
    </div>
    </div>
     
      
    </div>
    </div>
         
     
    
    <div class="text-center text-muted p-5" style="background: #000000"> 2022 <span class="material-icons">
    copyright
    </span> redsleeves.co.uk</div>
       