{% extends "base.html" %}
{% block content %}
{% load static %}
       


<div class=" container-fluid ">
    <div class="row overflow-hidden d-flex align-items-center">
        <div class="flex-item-left col-7 col-lg-6 p-5 ">
            <h1 class=" fw-bold mt-3"> Topical Steroid Addiction <em>(TSA)</em> </h1>
            <small class=" fw-bold ">Also known as:</small>
            <p class="text-muted fs-5"> Topical Steroid Withdrawal (TSW) / Red Skin Syndrome (RSS)</p>
            
        </div>
        <div class=" flex-item-right col-5 col-lg-6 ">
            <div class="moviePicContainer">
                <div class="moviePic pic1"></div>
                <div class="moviePic pic2"></div>
                <div class="moviePic pic3"></div>
                <div class="moviePic pic4"></div>
                <div class="moviePic pic5"></div>
            </div>

        </div>
    </div>
</div>









<section class=" text-center py-3 bg-darker">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-9 col-lg-10">
          <div class="fs-2 text-muted my-5">Helpful definitions from good sources.</div>
        </div>
      </div>
    </div>
  </section>


    
<div class="container-fluid mt-5 ">


<!-- the row of three info sections-->
<div class="row ">
    <div class="col-12 col-lg-4 d-flex align-items-start">
      <div class="icon-square bg-light text-dark ">
        <!-- <img src="//unsplash.it//50/50"> -->
      </div>
      <div class="quoteDivs border p-5"><span></span>
        <p class="paras  text-black-50">Topical corticosteroids withdrawal (sometimes called “topical steroid addiction” or “Red Skin Syndrome”) appears to be a clinical adverse effect that can occur when topical corticosteroids are inappropriately used or overused, then stopped. It can result from prolonged, frequent, and inappropriate use of moderate to high potency topical corticosteroids, especially on the face and genital area, but is not limited to these criteria.</p>
        <p class="cos  pb-1">- National Eczema Association</p>
        <a href="#" class="btn btn-cool">
          visit site
        </a>
      </div>
    </div>
    <div class="col-12 col-lg-4 d-flex align-items-start">
      <div class="icon-square bg-light text-dark ">
        <!-- <img src="//unsplash.it//50/50"> -->
      </div>
      <div class="quoteDivs border p-5"><span ></span>
        <p class=" paras  text-black-50">The doctors that these patients have seen believe that they are treating chronic eczema when indeed they do not recognize that their patients have severe vasodilation and redness from the steroids that they themselves are prescribing! Their patients have developed Red Skin Syndrome (RSS) and a topical steroid addiction (TSA) from using the increasing amounts and strengths of the corticosteroids prescribed to help them.</p>
        <p class=" cos pb-1">- Dr Rappaport</p>
        <a href="#" class="btn btn-cool">
            visit site
        </a>
      </div>
    </div>
    <div class="col-12 col-lg-4 d-flex align-items-start">
      <div class="icon-square bg-light text-dark">
        <!-- <img src="//unsplash.it//50/50"> -->
      </div>
      <div class="quoteDivs border p-5"><span ></span>
        
        <p class=" paras  text-black-50">Topical Steroid Withdrawal Syndrome (TSWS), also known as  (TSA) or (RSS), is a debilitating condition that can arise from the use of topical steroids to treat a skin problem, such as eczema. This condition can also arise from topical steroid use in individuals with no prior skin condition; such as with cosmetic use for skin bleaching or to treat acne, or in the case of caregivers who neglect to wash their hands after applying topical steroids on someone else.</p>
        <p class=" cos  pb-1 ">- International Topical Steroid Addiction Network</p>
        <a href="#" class="btn btn-cool">
            visit site
        </a>
      </div>
    </div>
  </div>
</div>




 <div class="container-fluid bg-dark text-light ">
  <h3 class="text-center my-4 p-4">Excellent Resources.</h3>
    <div class=" m-5 flex-container">
              <div class="p-5 child-snap">
                  <h4 class="aniShunt05">Q & A with Dr Rapaport.<span class="text-muted"> A resource to return to frequently.</span>  </h4> 
                <iframe  src="https://www.youtube.com/embed/0JNVj6eAHDs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <div class="p-5 child-snap"> 
                  <h4 class="aniShunt05"> This video provides a helpful explanation from the <span class="text-muted">ITSAN.</span> </h4> 
                <iframe  src="https://www.youtube.com/embed/7kmHe8aSs5s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>   
             </div>
              <div class="p-5 child-snap"> <h4 class="aniShunt05">The documentary's keep coming.<span class="text-muted"> "Skin on Fire"</span></h4> 
               
                <iframe width="560" height="315" src="https://www.youtube.com/embed/GuaBbsL1qKA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    
        </div>
              <div class="p-5 child-snap">
                  <h4 class=" aniShunt05">This doc reveals<span class="text-muted"> the harrowing consequences of tc steroids.</span></h4>  
                <iframe  src="https://www.youtube.com/embed/RMbtf3C8BZk"  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>       
        </div>
          
    </div>
</div> 




<div class="container">

  <div class="row">
    <div class="col-md-6">
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2651966816117816"
     crossorigin="anonymous"></script>
<!-- bottom -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2651966816117816"
     data-ad-slot="8772390120"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </div>
    <div class="col-md-6  p-4">
        <h5 class="mt-0">This lady here has created <span class="text-muted">a useful database</span></h5>
        <a href='https://tswcara.blogspot.com/' class='btn btn-cool'>You can visit it here.</a>
        <p >Alternatively, here are some shortcuts. </p>

        <div class="col"><i class="fa fa-instagram"></i>
          For Instagram accounts, click <a href="https://tswcara.blogspot.com/2019/09/the-tsw-database-instagram-accounts.html" class="badge bg-dark">here</a>
        </div>
        <div class="col"><i class="fa fa-rss"></i>
          For Blogs & Websites, click <a href="https://tswcara.blogspot.com/2019/09/the-tsw-database-blogs-websites.html" class="badge bg-dark">here</a>.
        </div>
        <div class="col"><i class="fa fa-facebook-official"></i>
          For Youtube & Facebook, click <a href="https://tswcara.blogspot.com/2019/09/the-tsw-database-youtube-facebook.html" class="badge bg-dark">here</a>.
        </div>
        <div class="col"><i class="fa fa-heartbeat" aria-hidden="true"></i>
          For Medical Journals, click <a href="https://tswcara.blogspot.com/2019/09/the-tsw-database-medical-journals.html" class="badge bg-dark">here</a>.
        </div>
        <div class="col"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
          For Things to  Avoid , click <a href="https://tswcara.blogspot.com/2021/01/things-to-potentially-avoid-during-tsw.html" class="badge badge-dark">here</a>.
        </div>
      </div>
  </div>
</div> 


</div>

{% endblock %}