{% extends "base.html" %}
{% block content %}
{% load static %}
       
<div class=" container-fluid ">
    <div class="row overflow-hidden d-flex align-items-center">
        <div class="flex-item-left col-12 col-md-7 col-lg-6 p-5 ">
            <h1 class=" fw-bold mt-3"> Topical Steroid Addiction <em>(TSA)</em> </h1>
            <small class=" fw-bold ">Also known as:</small>
            <p class="text-muted fs-5"> Topical Steroid Withdrawal (TSW) / Red Skin Syndrome (RSS)</p>
            
        </div>
        <div class=" flex-item-right col-5 col-lg-6 d-none d-md-block">
            <div class="moviePicContainer">
                <div class="moviePic pic1"></div>
                <div class="moviePic pic2"></div>
                <div class="moviePic pic3"></div>
                <div class="moviePic pic4"></div>
                <div class="moviePic pic5"></div>
            </div>

        </div>
    </div>
</div>
<div class="container-fluid bg-dark text-light ">
  <div class="row justify-content-center bg-dark">
    <div class="col-md-auto col-lg-8  mt-5">
      <h3 class="text-secondary">Latest diary entry.</h3>
 
      <div class="card shadow-lg border border-info " >
        <div class="card-body text-secondary bg-darker">
          <h5 class="card-title">{{ latest.title }}</h5>
          <p class="card-text">{{ latest.content|truncatewords:25 }}...</p>
          <small>{{ latest.updated }}</small>
          <a href="{{ latest.get_absolute_url }}" class="btn btn-outline-info">Read More</a>
         
        </div>
      </div>
  
    </div>

    <div class="col-md-auto col-lg-4  my-5 ">
      <h3 class="text-secondary">Diary</h3>
      <div class="card shadow border border-info  bg-darker" >
        <div class="card-body d-flex justify-content-center text-secondary my-5">
       
          <a href="{% url 'diary' %}" class="btn btn-outline-info">All diary entries</a>
        </div>
        </div>
    </div>
</div>
</div>
<section class=" text-center py-3 bg-darker border-top border-bottom border-info ">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-9 col-lg-10 ">
          <div class="lg:fs-5 text-muted my-5">This is a debated medical condition. Many refusing to believe in its existance at all. From my personal experience I have had a room full of Dermatologists diagnose me with RSS and in stark contrast others will tell me it is absolute nonsence and will snigger at the diagnosis. This is evendently a condition that polarizes opinion amongst doctors.<br> This page is a personal account of what I have experinced and continue to do so. Nothing here is intended to diagnose anyone. But it is my honest held belief that something went seriously wrong with my skin.
          I have built this page to both create awareness and share personal testimony.  
          Below I have tried to give a glance from sources that are also creating awareness to give you an overview of what it is. </div>
        </div>
      </div>
    </div>
  </section>
    
<div class="container-fluid my-5 ">

<!-- the row of three info sections-->
<div class="row ">
  <div class="col-12 col-lg-4 d-flex align-items-start">
    <div class="icon-square bg-light text-dark ">
      
    </div>
    <div class="quoteDivs border p-5 shadow-lg "><span ></span>
      <p class=" paras text-black-50"> Rapaport is a leading voice in raising awareness of this disease. I believe he is the Dr who originally discovered the problem. He argues that the symptom set is different from normal eczema patients and can be identified uniquely through patients presenting with 'red, itchy and burning skin'. He has a blog and also provides tele medical support to people with this disease. I have personally used this service, although I could not continue due to finacial reasons.<br> He has an exstensive blog you can visit using the link below. </p>
      <p class=" cos pb-1 fw-bold"><small>- Rapaport, M., MD (2021) What is ? Available at: https://red-skin-syndrome.com/what-is-red-skin-syndrome-or-rss/.</small></p>
      <a href="https://red-skin-syndrome.com/" class="btn btn-cool border border-info border-2">
          visit site
      </a>
    </div>
  </div>
    <div class="col-12 col-lg-4 d-flex align-items-start ">
      <div class="icon-square bg-light text-dark ">
       
      </div>
      <div class="quoteDivs border p-5  shadow-lg nsa" ><span></span>
        <p class="paras  text-black-50">The National Eczema Association is now also raising awareness of this disease. They list the following debilitating symptoms that are associated with this condition. Symptoms such as 'burning, weeping, flaking, shedding, peeling, spreading, swelling, redness, wrinkling, thin skin, pus-filled bumps, cracking, itching, nodules, pain, insomnia, hair loss, shivering, fatigue, depression and disability'. Whilst they acknowledge that the sysmptoms do not always present like this many personal accounts that I have read would support this to be accurate, as indeed would I from my own experience. </p>
        <p class="cos  pb-1 fw-bold overflow-scroll"><small>- Hewett, L. (2022) Topical Steroid Withdrawal: What the Eczema Community Needs to Know, Now. Available at: https://nationaleczema.org/blog/tsw-need-to-know/.</small></p>
        <a href="https://nationaleczema.org/blog/warnings-for-topical-steroids-eczema/" class="btn btn-cool border border-info border-2">
          visit site
        </a>
      </div>
    </div>
   
    <div class="col-12 col-lg-4 d-flex align-items-start">
      <div class="icon-square bg-light text-dark">
        
      </div>
      <div class="quoteDivs border p-5 shadow-lg"><span ></span>
        
        <p class=" paras  text-black-50">ITSAN which is an acronym for International Topical Steroid Addiction Network was established to raise awareness and support people suffering with the condition.
        They describe the condition in the following way "Topical Steroid Withdrawal Syndrome (TSWS), also known as Topical Steroid Addiction (TSA) or Red Skin Syndrome (RSS), is a debilitating condition that can arise from the use of topical steroids to treat a skin problem, such as eczema." </p>
        <p class=" cos  pb-1 fw-bold"><small>- What is TSW Syndrome? (no date). Available at: https://www.itsan.org/what-is-tsw-syndrome/.</small></p>
        <a href="https://www.itsan.org/" class="btn btn-cool border border-info border-2">
            visit site
        </a>
      </div>
    </div>
  </div>
</div>




 <div class="container-fluid bg-dark text-light ">
  



  <p class="text-center p-4">Resources
    <small class="text-muted ">Please note they all open in youtube.</small></p>
    <div class="flex-container bg-darker">
      
             
              <div class="p-5 child-snap"> 
                <div class="card" style="width: 280px;">
                  <img src="{% static 'images/explain.png' %}" class="card-img-top" alt="explain">
                  <div class="card-body text-dark">
                    <h5 class="card-title aniShunt05">ITSAN</h5>
                    <p class="card-text">My wife found this very helpful in explaining to others what this disease is.</p>
                    <div class="d-flex justify-content-center">
                    <a href="https://youtu.be/7kmHe8aSs5s" class="btn btn-info">Watch</a>
                  </div>
                  </div>
                </div>
 
              
             </div>
              <div class="p-5 child-snap">
                <div class="card" style="width: 280px;">
                  <img src="{% static 'images/onfire.png' %}" class="card-img-top" alt="...">
                  <div class="card-body text-dark">
                    <h5 class="card-title aniShunt05">Skin on Fire</h5>
                    <p class="card-text">This is the latest documentary. Including more from Dr Rapaport.</p>
                    <div class="d-flex justify-content-center">
                      <a href="https://youtu.be/GuaBbsL1qKA" class="btn btn-info ">Watch</a>
                    </div>
          
                  </div>
                </div>
              
        </div>
        <div class="p-5 child-snap">
          <div class="card" style="width: 280px;">
            <img src="{% static 'images/q.png' %}" class="card-img-top" alt="questions">
            <div class="card-body text-dark">
              <h5 class="card-title aniShunt05">Q & A with Dr Rapaport.</h5>
              <p class="card-text">A resource to return to frequently to give you hope.</p>
              <div class="d-flex justify-content-center">
              <a href="https://youtu.be/0JNVj6eAHDs" class="btn btn-info">Watch</a>
              </div>
            </div>
          </div>
        </div>
              <div class="p-5 child-snap">
                <div class="card" style="width: 280px;">
                  <img src="{% static 'images/prev.png' %}" class="card-img-top" alt="documentary">
                  <div class="card-body text-dark">
                    <h5 class="card-title aniShunt05">Preventable</h5>
                    <p class="card-text">This was the first documentary to be made. </p>
                    <div class="d-flex justify-content-center">
                    <a href="https://youtu.be/RMbtf3C8BZk" class="btn btn-info">Watch</a>
                    </div>
                  </div>
                </div>
        </div>
    </div>
    

  
</div>


  

{% endblock %}