{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col mx-auto">

        
        <p>
            <h1>PRIVACY STATEMENT</h1>

        <p>   This website privacy policy template is based on a free document supplied by The Legal Stop Limited through its website  <a href="http://www.thelegalstop.co.uk">Legal Stop</a></p> 
            
            
            
        <br>
            
            Your privacy is important to redsleeves.co.uk We are committed to safeguarding the privacy of our website visitors; this privacy statement sets out how we will treat your personal information.
        <br>  
            <h3>Personal Data Collection</h3>

            <p>
            
            redsleeves.co.uk may collect, store and use the following kinds of personal information:
            
            information about your computer and about your visits to and use of this websites (which may include your IP address, geographical location, browser type and version, referral source, entry page, exit page, length of visit, number of page views, route taken through this website, and similar information);
            information relating to any transactions carried out between you and us on or in relation to this website, including information relating to any purchases you make of our goods or services;
            information that you provide to us for the purpose of registering with us;
             information that you provide to us for the purpose of subscribing to our website services, email notifications and/or newsletters; and
            any other information that you choose to send to us.
        </p>


            
            <h5>Using Personal Data</h5>
        <p>

        
            Personal information submitted to us via this website will be used for the purposes specified in this privacy statement or in relevant parts of the website.
            
            <h5>We may use your personal data to:</h5>
            <ul>
                <li>administer the website;</li>
                <li>improve your browsing experience;</li>
                <li>enable your use of the services available on the website;</li>
                <li>send to you goods purchased via the website, and supply to you services purchased via the website;</li>
                <li>send statements and invoices to you, and collect payments from you;</li>
                <li>send you general non-marketing commercial communications;</li>
                <li>send you email notifications which you have specifically requested;</li>
                <li> send to you our newsletter and other marketing communications relating to our business or the businesses of carefully-selected third parties which we think may be of interest to you by post or, where you have specifically agreed to this, by email  and you can inform us at any time if you no longer require marketing communications; and </li>
                <li>deal with enquiries and complaints made by or about you relating to the website.</li>
            </ul>
            
            
            
            
            
            
            
           
            
        </p>  
           <h5> Personal Data Security</h5>
            
            We will take reasonable technical and organisational precautions to prevent the loss, misuse or alteration of your personal information. 
            
             redsleeves.co.uk will store all the personal data you provide on its secure servers. Information relating to electronic transactions entered into via this website will be protected by encryption technology.
            
            You are responsible for keeping your password and user details confidential. We will not ask you for your password except when you log in to the website.
            
            Disclosures
            
            We may disclose information about you to any of our employees, officers, agents, suppliers or subcontractors insofar as reasonably necessary for the purposes as set out in this privacy statement. 
            
            In addition, we may disclose your personal information: 
            
            to the extent that we are required to do so by law;
            in connection with any legal proceedings or prospective legal proceedings;
            in order to establish, exercise or defend our legal rights (including providing information to others for the purposes of fraud prevention and reducing credit risk); and
            to any person who we reasonably believe may apply to a court or other competent authority for disclosure of that personal information where, in our reasonable opinion, such court or authority would be reasonably likely to order disclosure of that personal information.
            
            Except as provided in this privacy statement, we will not provide your information to third parties.
            
            
            
            Cross-border Data Transfers
            
            Information that redsleeves.co.uk collects may be stored and processed in and transferred between any of the countries in which we operate to enable the use of the information in accordance with this privacy statement.
            
            In addition, personal information that you submit for publication on the website will be published on the internet and may be available around the world.
            
            Your Rights
            
            You may instruct us to provide you with any personal information we hold about you.  Provision of such information will be subject to:
            
            the payment of a fee; and
            the supply of appropriate evidence of your identity.
            
            We may withhold such personal information to the extent permitted by law.
            
            You may instruct us not to process your personal information for marketing purposes by email at any time.  
            
            Privacy Statement Update
            
            We may update this privacy statement from time-to-time by posting a new version on our website.  You should check this page occasionally to ensure you are happy with any changes.  
            
            We may also notify you of changes to our privacy statement by email.
            
            Other websites
            
            The website contains links to other websites that are not under the control of and are not maintained by redsleeves.co.uk  We are not responsible for the content or reliability of the linked websites. redsleeves.co.uk provides these links for your convenience only but does not endorse the material on these sites.
            
            
            
            Contact Us
            
            If you have any questions about this privacy statement or our treatment of your personal information, please contact me at www.redsleeves.co.uk/contact/
            
            
            
            
            
            
            
            
            
        </p>
    </div>
    </div>
</div>
<div class="container my-5">
    <div class="row">
        <div class="col mx-auto">
           
                <h2>Website Cookies Policy</h2>

                <p>This website cookies policy template is based on a free document supplied by The Legal Stop Limited through its website <a href="http://www.thelegalstop.co.uk">Legal Stop</a></p>
                
                
                
                
                <p>
                We use cookies on our website. By using our website you agree to this Policy and you consent to our use of cookies in accordance with the terms of this Policy.
                
                About Cookies
                A cookie is a small file which asks permission to be placed on your computer’s hard drive. Once you agree, the file is added and the cookie helps analyse web traffic or lets you know when you visit a particular site. Cookies allow web applications to respond to you as an individual. The web application can tailor its operations to your needs, likes and dislikes by gathering and remembering information about your preferences.
                
                There are two main kinds of cookies: “session” cookies and “persistent” cookies. Session cookies only last for the duration of users using the website and are deleted from your computer when you close your browser, whereas persistent cookies outlast user sessions and remain stored on your computer until deleted, or until they reach their expiry date.
                
                Cookies on this Website
                We use Session Cookie and Persistent Cookies  on this website.
                
                We use cookies for the following purposes:
                e.g. to recognise your computer when you visit our website
                to improve the website’s usability
                to administer this website
                
                Generally, we use cookies to help us administer this website, to improve the website’s usability and for marketing purposes. We may also use cookies to identify which pages are being used. This helps us analyse data about webpage traffic and improve our website in order to tailor it to customer needs. We only use this information for statistical analysis purposes and then the data is removed from the system.
                
                Overall, cookies help us provide you with a better website, by enabling us to monitor which pages you find useful and which you do not. 
                
                Cookies do not contain any information that personally identifies you, a cookie in no way gives us access to your computer or any information about you.
                
                We are committed to ensuring that your information is secure. In order to prevent unauthorised access or disclosure we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online.
                
                You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. This may prevent you from taking full advantage of the website.
                
                Third Party Cookies
                We also use third party cookies.
                
                If you use third party cookies please include the paragraph below.
                
                [Third party cookies may be used for the following purposes:
                
                to target advertisements which may be of particular interest to you
                
                
                
                Most browsers allow you to reject all cookies, whilst some browsers allow you to reject just third party cookies.
                
                
                
            
                
            </p>

        </div>
    </div>
</div>
<div class="container my-5">
    <div class="row">
        <div class="col mx-auto">
            <script type="text/javascript" charset="UTF-8"  data-cookiescriptreport="report" src="//report.cookie-script.com/r/bcb7761e02d4c8b437f905bee4d23169.js"></script>
        </div>
    </div>
</div>
{% endblock %}